<div class="overViewHeader backGroundBlack">
  <mat-icon (click)="drawer.toggle()" class="fontSize40 pointer fontColorWhite padding25" fontIcon="menu"></mat-icon>
  <span class="fontSize40 pointer fontColorWhite">Wellcome</span>
</div>
<div class="overViewContent">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav backGroundBlack" mode="side">
      <div class="overViewContentItem spaceTop20 spaceBottom10 spaceBefore24">
        <mat-icon class="fontSize20 fontColorWhite" fontIcon="home"></mat-icon>
        <a routerLink="/home" class="pointer fontSize20 spaceBefore10 fontColorWhite">首頁</a>
      </div>
      <div class="overViewContentItem spaceTop20 spaceBottom10 spaceBefore24">
        <mat-icon class="fontSize20 fontColorWhite" fontIcon="bolt"></mat-icon>
        <a routerLink="/shorts" class="pointer fontSize20 spaceBefore10 fontColorWhite">Shorts</a>
      </div>
      <div class="overViewContentItem spaceTop20 spaceBottom10 spaceBefore24">
        <mat-icon class="fontSize20 fontColorWhite" fontIcon="subscriptions"></mat-icon>
        <span class="fontSize20 spaceBefore10 fontColorWhite">訂閱內容</span>
      </div>
      <div class="overViewContentItem spaceTop20 spaceBottom10 spaceBefore24">
        <mat-icon class="fontSize20 fontColorWhite" fontIcon="play_circle"></mat-icon>
        <span class="fontSize20 spaceBefore10 fontColorWhite">YouTube Music</span>
      </div>
      <hr class="spaceUpDown30 spaceAfter24 spaceBefore24">
      <div>
        <mat-accordion class="width100Percentage">
          <div class="overViewContentItem spaceBottom10 spaceBefore24">
            <p class="fontColorWhite fontSize20 marginBottom0">你的內容 ></p>
          </div>
          <div class="overViewContentItem spaceBottom10 spaceBefore24">
            <mat-icon class="fontSize30 fontColorWhite" fontIcon="person"></mat-icon>
            <span class="fontColorWhite spaceBefore10 fontSize20">你的頻道</span>
          </div>
          <div class="overViewContentItem spaceBottom10 spaceBefore24">
            <mat-icon class="fontSize30 fontColorWhite" fontIcon="history"></mat-icon>
            <span class="fontColorWhite spaceBefore10 fontSize20">觀看紀錄</span>
          </div>
          <div class="overViewContentItem spaceBottom10 spaceBefore24">
            <mat-icon class="fontSize30 fontColorWhite" fontIcon="slideshow"></mat-icon>
            <span class="fontColorWhite spaceBefore10 fontSize20">你的影片</span>
          </div>
          <div class="overViewContentItem spaceBottom10 spaceBefore24">
            <mat-icon class="fontSize30 fontColorWhite" fontIcon="movie"></mat-icon>
            <span class="fontColorWhite spaceBefore10 fontSize20">你的電影</span>
          </div>
          <div class="overViewContentItem spaceBottom10 spaceBefore24">
            <mat-icon class="fontSize30 fontColorWhite" fontIcon="schedule"></mat-icon>
            <span class="fontColorWhite spaceBefore10 fontSize20">稍後觀看</span>
          </div>
          <div class="overViewContentItem spaceBottom10 spaceBefore24">
            <mat-icon class="fontSize30 fontColorWhite" fontIcon="download"></mat-icon>
            <span class="fontColorWhite spaceBefore10 fontSize20">已下載的內容</span>
          </div>
          <div class="overViewContentItem spaceBottom10 spaceBefore24">
            <mat-expansion-panel hideToggle class="backGroundBlack">
              <mat-expansion-panel-header class="paddingLeft0">
                <mat-panel-title class="fontColorWhite fontSize20">
                  <div>
                    <mat-icon class="fontSize30 fontColorWhite" fontIcon="expand_more"></mat-icon>
                    <span class="fontColorWhite spaceBefore10 fontSize20">顯示更多</span>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="fontColorWhite fontSize20">1</p>
              <p class="fontColorWhite fontSize20">2</p>
              <p class="fontColorWhite fontSize20">3</p>
              <p class="fontColorWhite fontSize20">4</p>
              <p class="fontColorWhite fontSize20">5</p>
              <p class="fontColorWhite fontSize20">6</p>
              <p class="fontColorWhite fontSize20">7</p>
              <p class="fontColorWhite fontSize20">8</p>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>